#git+https://github.com/supervisely/supervisely.git@branch-name
# supervisely==6.73.542

# for coco dataset
pycocotools==2.0.11

# scikit-learn==0.24.1

# for las/laz
laspy[lazrs]==2.7.0
pypcd4==1.4.3

# for DCM files without extensions
python-gdcm==3.2.2
pylibjpeg==2.1.0
pylibjpeg-libjpeg==2.2.0

# for pdf
pymupdf==1.27.2

# for multispectral images
tifffile==2026.3.3

# for NIfTI
nibabel==5.4.0

# for LYFT
lyft-dataset-sdk==0.0.8

# for ROSBAG
bagpy==0.4.10

# for NuScenes
nuscenes-devkit==1.2.0

# for KITTI 3D
open3d==0.19.0
