# supervisely==6.73.206
git+https://github.com/supervisely/supervisely.git@autoimport-fix-video-pb
lyft_dataset_sdk
# for coco dataset
pycocotools

# open3d==0.11.1
# scikit-learn==0.24.1

# for las/laz
laspy==2.0.1
lazrs==0.3.0

# for DCM files without extensions
gdcm==1.1
pylibjpeg==1.4.0
pylibjpeg-libjpeg==1.3.1

# for pdf
pymupdf==1.22.5

# for multispectral images
tifffile==2023.7.10

# for NIfTI
nibabel==5.2.1
bagpy